---
Checks: "
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-runtime-int,
  llvm-*,
  llvm-header-guard,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-sizeof-expression,
  -clang-analyzer-alpha.*,
  -clang-analyzer-security.insecureAPI.rand,
  -clang-analyzer-valist.Uninitialized,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -llvm-include-order,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -modernize-avoid-c-arrays,
  -readability-avoid-const-params-in-decls,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-non-const-parameter,
  -readability-uppercase-literal-suffix,
  "
WarningsAsErrors: "*"
WarningsAsErrors: "*"
AnalyzeTemporaryDtors: true
HeaderFilterRegex: "src/*.(hpp|h)"
FormatStyle: file