BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0

AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: NonAssignment
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakString: 1
PenaltyReturnTypeOnItsOwnLine: 1
ContinuationIndentWidth: 4

IncludeBlocks: Merge
SortIncludes: true
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*\.hpp>'
    Priority:        2
  - Regex:           '^<.*>'
    Priority:        3
  - Regex:           '^".*\.h"'
    Priority:        4
  - Regex:           '^".*\.hpp"'
    Priority:        5
  - Regex:           '^".*"'
    Priority:        6